* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  color: #f8fafc;
  background: linear-gradient(to right, #03122a, #171717, #000000);
  background-color: #171717;
  overflow: hidden;
  position: relative;
}

h1 {
  position: absolute;
  top: 52%;
  left: 34%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 3.5em;
  color: #b0abab;
  opacity: 0;
  transform: scale(0);
  animation: bounceIn 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both 9s;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-200px);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(5px);
  }
  70% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#lo {
  position: absolute;
  top: 26%;
  left: 62%;
  opacity: 0;
  animation: animateImage 3s ease-in-out forwards 5.5s;
}

@keyframes animateImage {
  0% {
    transform: scale(0) rotateY(0deg);
    opacity: 0;
  }
  20% {
    transform: scale(1) rotateY(1440deg);
    opacity: 1;
  }
  75% {
    transform: scale(1) translateX(-550px) rotateY(1440deg) rotate(720deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateX(-370px) rotate(720deg);
    opacity: 1;
  }
}
#logo {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: filll 1s ease forwards 4.8s;
}
#logo path {
  stroke-width: 4px;
  stroke: white;
}
#logo path:nth-child(12) {
  stroke-dasharray: 484px;
  stroke-dashoffset: 484px;
  animation: line-anim 1.8s ease forwards, d 0.4s ease forwards 7.1s;
}
#logo path:nth-child(11) {
  stroke-dasharray: 457px;
  stroke-dashoffset: 457px;
  animation: line-anim 1.8s ease forwards 0.3s, d 0.4s ease forwards 7s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 214px;
  stroke-dashoffset: 214px;
  animation: line-anim 1.8s ease forwards 0.6s, d 0.4s ease forwards 6.9s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 285px;
  stroke-dashoffset: 285px;
  animation: line-anim 1.8s ease forwards 0.9s, d 0.4s ease forwards 6.8s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 451px;
  stroke-dashoffset: 451px;
  animation: line-anim 1.8s ease forwards 1.2s, d 0.4s ease forwards 6.7s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 388px;
  stroke-dashoffset: 388px;
  animation: line-anim 1.8s ease forwards 1.5s, d 0.4s ease forwards 6.6s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 214px;
  stroke-dashoffset: 214px;
  animation: line-anim 1.8s ease forwards 1.8s, d 0.4s ease forwards 6.5s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 48px;
  stroke-dashoffset: 48px;
  animation: line-anim 1.8s ease forwards 2s, d 0.4s ease forwards 6.4s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 583px;
  stroke-dashoffset: 583px;
  animation: line-anim 1.8s ease forwards 2.2s, d 0.4s ease forwards 6.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 426px;
  stroke-dashoffset: 426px;
  animation: line-anim 1.8s ease forwards 2.5s, d 0.4s ease forwards 6.2s;
}
#logo path:nth-child(2) {
  stroke-dasharray: 388px;
  stroke-dashoffset: 388px;
  animation: line-anim 1.8s ease forwards 2.8s, d 0.4s ease forwards 6.1s;
}
#logo path:nth-child(1) {
  stroke-dasharray: 48px;
  stroke-dashoffset: 48px;
  animation: line-anim 1.8s ease forwards 3s, d 0.4s ease forwards 6s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0%;
  }
}
@keyframes filll {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
@keyframes d {
  from {
    stroke-width: 4px;
    fill: white;
  }
  to {
    stroke-width: 0px;
    fill: transparent;
  }
}
